.bg_hero{
    background-image: linear-gradient(90deg,rgba(59,72,98,.9) 0,rgba(59,72,98,.9)), url(../img/header_bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: left;
}
.header__logo {
    display: block;
    width: 10rem;
    
}
header-image{
    background-position: right;
}
.header__logo{
    height: 6rem;
    width: 6rem;
    margin: 1rem 1rem 1rem 1rem;
}
